services:
  spring-ai:
    image: ghcr.io/hibuz/spring-ai
    container_name: spring-ai
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "8888:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod

  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "11435:11434"
    volumes:
      - ollama-vol:/root/.ollama:cached

  postgres:
    image: pgvector/pgvector:pg18
    hostname: postgres
    container_name: postgres
    ports:
      - "5432:5432"
    volumes:
      - pg-vol:/var/lib/postgresql
    environment:
      POSTGRES_PASSWORD: pass

volumes:
  ollama-vol: {}
  pg-vol: {}